.purple {
    color: #fff;
    background: #990099;
}
.green {
    color: #ffffff;
    background: green;
}
.dark {
    color: #ffffff;
    background: #009ee6;
}
.light {
    color: #ffffff;
    background: #e6a23c;
}